.imageUpload {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
}

.imageUpload__progress {
    width: 100%;
}

.imageUpload__caption {
    padding: 20px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.imageUpload__file {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.imageUpload__title {
    text-align: center;
    padding: 5px;
}