* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100%;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid lightgray;
  /* width: 100px; */
  padding: 20px;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app__signUp {
  width: 100;
  display: flex;
  flex-direction: column;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}

.app__input {
  width: 100%;
}